In [1]:
import pandas as pd

In [2]:
cebpa_file = "../data/mm10/CEBPA/split_data.csv.gz"

In [3]:
df = pd.read_csv(cebpa_file)

In [4]:
len(df)

44288170

In [14]:
train_df = df.loc[df.split=="train"]

In [15]:
len(train_df)

37738032

In [5]:
df.head()

   chrm    start      end  label  split
0  chr1  3000000  3000500      0  valid
1  chr1  3000050  3000550      0  valid
2  chr1  3000100  3000600      0  valid
3  chr1  3000150  3000650      0  valid
4  chr1  3000200  3000700      0  valid

In [6]:
valid_df = df.loc[df.split=="valid"]

In [7]:
valid_df.head()

   chrm    start      end  label  split
0  chr1  3000000  3000500      0  valid
1  chr1  3000050  3000550      0  valid
2  chr1  3000100  3000600      0  valid
3  chr1  3000150  3000650      0  valid
4  chr1  3000200  3000700      0  valid

In [8]:
len(valid_df)

3385887

In [13]:
3385887//1280

2645

In [9]:
test_df = df.loc[df.split=="test"]

In [10]:
len(test_df)

3164251

In [11]:
test_df.head()

          chrm    start      end  label split
21524250  chr2  3050950  3051450      0  test
21524251  chr2  3051000  3051500      0  test
21524252  chr2  3051050  3051550      0  test
21524253  chr2  3051100  3051600      0  test
21524254  chr2  3051150  3051650      0  test

In [12]:
3164251//5120

618